<div class="ui main text container">
  <!-- <div class="ui huge header" style="text-align: center; margin-bottom: 3rem">
    Blog Posts
  </div> -->
  <div class="ui category search">
    <div class="ui icon input">
      <input
        class="prompt"
        type="text"
        placeholder="Search Blogs..."
        ng-model="search"
      />
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <div ng-repeat="blog in blogs | filter: search">
        <div class="item">
          <div style="margin-bottom: 10px">
            <a href="" class="ui header huge">{{blog.title}}</a>
          </div>
          <div class="image">
            <img id="side" src="{{blog.image}}" />
          </div>
          <div class="content">
            <div class="meta">
              <span class="price">{{blog.author}}</span>
            </div>
            <div class="description">
              <p>{{blog.description}}</p>
            </div>
            <div class="extra" style="display: inline-block">
              <a
                href="#!/blogs/{{blog.id - 1}}"
                class="ui floated basic violet button"
              >
                Read More
                <i class="right chevron icon"></i>
              </a>
            </div>
            <div class="ui huge star rating"></div>
            <!-- <div style="display: inline-block">
              <button
                class="ui negative basic button"
                ng-click="delete(blog.id)"
              >
                Delete
              </button>
            </div> -->
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
