i.icon {
  font-size: 1em;
}

.container.main {
  margin-top: 7em;
}

#delete {
  display: inline;
}
#side {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.price {
  color: #777;
}

.extra {
  margin: 10px 0px;
}
